extends layout

block content
  h1= title
  p Welcome to the website for the Ruins of Midgaard MUD. Check out the game clients below in order to get started.
  h2 Open Source
  p The <a href="https://github.com/danielmunro/nodesrv">code</a> powering Ruins of Midgaard is open source under the MIT license. It is and will always be completely free.
  h2 Game Clients
  <a href="/binaries/ruins-of-midgaard-darwin-x64.zip">MacOS</a>
  p or compile from <a href="https://github.com/danielmunro/nodeclient">source</a>
  h2 Contact the Maintainer
  p <a href="https://danmunro.com/">Here</a> is a link to my personal website, where <a href="https://danmunro.com/about/">contact info</a> can be found.
