doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
      p(class='nav')
        if indexNav
          | Home
        else
          a(href='/') Home
      p(class='nav')
        if playersNav
          | Players
        else
          a(href='/players') Players

    block content
