doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
      p(class='nav')
        if indexNav
          | Home
        else
          a(href='/') Home

    block content
